.container {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Crimson Text', serif;
}

body {
  background-image: url(https://e0.pxfuel.com/wallpapers/72/504/desktop-wallpaper-firewatch-green-minimal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

